table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.pagination {
    display: inline-block;
}

.pagination button {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination button.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination button:hover:not(.active) {
    background-color: #ddd;
}
.filter{
    display: inline-flexbox;
    background-color: azure;
}
