<h1>app works properly</h1>
<nav id="navigation" class="style-1">
  <ul id="responsive">
      <!-- <li><a class="current" href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="single-property-page-1.html">Listings</a></li>
      <li><a href="my-profile.html">User Panel</a></li>
      <li><a href="agents-list.html">Agents</a></li>
      <li><a href="agency-list.html">Agency</a></li>
      <li><a href="blog_detail_left_sidebar.html">Blog</a></li>-->
      <li><a routerLink='/contact'>Contact</a></li> 
  </ul>
</nav>


<router-outlet></router-outlet>
<!-- <app-contact></app-contact> -->
<h1>app works properly</h1>