<!-- <div>
    <input type="radio" formControlName="formValue">
    <div class="card">
    <form [formGroup]="approveForm" (ngSubmit)="approve()">
        <div>
            
           
                <div>
                    Name:Bharath
                    <input formControlName="status" type="text">
                </div>
            </div>
        
<button (onclick)="approve()">Approve</button>
<button (onclick)="deny()">Deny</button>
    </form>
</div>
</div> -->
<div>
    <span *ngIf="count>0 ;else noSellers" >
        <h2>there are {{count}} new registers</h2>
    </span>
    <ng-template #noSellers>
<span class="text text-danger">  Threre are no new sellers</span></ng-template>
<div *ngIf="count>=1 ">  <button 
    (click)="navigateToSellers()">View All Sellers</button></div>
   <br>
<p>-------------------------------------------</p>

<!-- <!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>  Admin Dashboard | CodingLab </title>
    <link rel="stylesheet" href="style.css">
    <link href= rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body> -->
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name"></span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="#" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
            <a href="#" class="active  ">
              <i class='bx bx-box' ></i>
              <span class="links_name">Properties</span>
            </a>
          </li>
        <li>
          <a href="#">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">Order list</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name">Analytics</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-coin-stack' ></i>
            <span class="links_name">Stock</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-book-alt' ></i>
            <span class="links_name">Total order</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-user' ></i>
            <span class="links_name">Team</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-message' ></i>
            <span class="links_name">Messages</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-heart' ></i>
            <span class="links_name">Favrorites</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-cog' ></i>
            <span class="links_name">Setting</span>
          </a>
        </li>
        <li class="log_out">
          <a href="#">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
       

        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search' ></i>
      </div>
      <div class="users">
        <button onclick="myFunction()" class="dropbtn">users</button>
        <div id="myDropdown" class="dropdown-content">
          <a href="#user1">user1</a>
          <a href="#user2">user2</a>
          <a href="#user3">user3</a>
        </div>
      </div>
      <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }
        
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
        </script>
      
    </nav>
    <div class="home-content">
      <div class="overview-boxes">
   <a (click)="navigateToSellers()">     <div class="box">
    <div class="right-side">
      <div class="box-topic">Total users</div>
      <div class="number">150</div>
      <div class="indicator">
        <i class='bx bx-up-arrow-alt'></i>
        <span class="text">Up from yesterday</span>
      </div>
    </div>
    <i class='bx bx-cart-alt cart'></i>
  </div></a>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Sellers</div>
            <div class="number">200</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class='bx bxs-cart-add cart two' ></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Add Properties</div>
            <div class="number"></div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class='bx bx-cart cart three' ></i>
        </div>
          </div>
         
        </div>
   
  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>
