<!-- 

<app-filter-seller  (statusChange)="changeSellerStatus($event)"

[allCount]="getTotalSellers()"
[pendingCount]="getPendingSellers()"
[approvedCount]="getApprovedSellers()"
[rejectedCount]="getRejectedSellers()"
></app-filter-seller>

<div>  <tr>
            
    <th colspan="5"><span ><img src="assets/sellers-icon.png" width="50px" alt="icon"><h1 class="header">Sellers</h1> </span>  </th>
</tr></div>



  <table class="table">
    
       
    
    <thead class="thead-dark">
      
      <tr>
        <th scope="col">#</th>
        <th scope="col">Seller Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let seller of sellers;let i=index">
          <tr *ngIf="sellerStatus==='ALL' || seller.status===sellerStatus;">
            <th scope="row">{{i+1}}</th>
            <td>B99-S-{{seller.sellerId}}</td>
            <td>{{seller.firstName}}</td>
    
            <td>{{seller.lastName}}</td>
               
            <td>{{seller.status}}</td>
            <td><button class=" btn btn-primary" (click)="viewDetails(seller.sellerId)">View Details</button></td>
          </tr>
        
        </ng-container>
        
   
    </tbody>
  
  </table>
  
  -->
    <!-- <ng-template #noSellers>
            <span class="text-danger"> no Sellers found</span>
          </ng-template> -->

          <app-home></app-home>
          <app-filter-seller (statusChange)="changeSellerStatus($event)"
  [allCount]="getTotalSellers()"
  [pendingCount]="getPendingSellers()"
  [approvedCount]="getApprovedSellers()"
  [rejectedCount]="getRejectedSellers()"
></app-filter-seller>

<div>
  <table>
    <tr>
      <th colspan="5">
        <span>
          <img src="assets/sellers-icon.png" width="50px" alt="icon">
          <h1 class="header">Sellers</h1>
        </span>
      </th>
    </tr>
  </table>
</div>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Seller Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let seller of sellers; let i = index">
      <tr *ngIf="sellerStatus === 'ALL' || seller.status === sellerStatus">
        <th scope="row">{{ i + 1 }}</th>
        <td>B99-S-{{ seller.sellerId }}</td>
        <td>{{ seller.firstName }}</td>
        <td>{{ seller.lastName }}</td>
        <td>{{ seller.status }}</td>
        <td><button class="btn btn-primary" (click)="viewDetails(seller.sellerId)">View Details</button></td>
      </tr>
    </ng-container>
  </tbody>
</table>
