<!-- <div>Enter something
    <input type="text" [(ngModel)]="searchEntry" (input)="outputSearch()">
    <p>Entered content is {{searchEntry}}</p>

    <p>Name from Parent :{{name}}</p>
</div>
<p>---------------------------------------------------------------</p> -->
<div>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" class="nav-link" routerLink=""><span>
			<h1>Bricks99</h1>
		  </span></a>
	

		  <ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" routerLink=''>Home</a></li>
			<!-- <li class="nav-item"><a class="nav-link" routerLink='/contact'>Contact</a></li> -->
			<!-- <li class="nav-item"><a class="nav-link" routerLink='/seller-register'>Register</a></li> -->
			<li class="nav-item"><a class="nav-link" routerLink='/admin-dashboard'> DashBoard</a></li> 
	
		  </ul>
		  <li class="nav-item"><a class="nav-link" routerLink=''>LogOut </a></li> 
	  </nav>
</div>

<div class="navbar">
	<a routerLink="/admin-dashboard" class="active">Dashboard</a>
	<a >Properties</a>
	<a >Sellers</a>
  </div>
  

  
  <router-outlet></router-outlet>
  <!-- <app-dashboard></app-dashboard> -->
      